<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head">
    <title>众包标注系统</title>
</head>
<body>
<div id="app">
    <div th:replace="worker/common/guide"></div>
    <div>
        <div>
            <h1>任务</h1>
        </div>
        <div>
            <el-table :data="taskList" >
                <el-table-column prop="requester" label="发布者" width="180"></el-table-column>
                <el-table-column prop="type" label="任务类型" width="100"></el-table-column>
                <el-table-column prop="description" label="任务描述" width="400"></el-table-column>
                <el-table-column prop="price" label="价格" width="100"></el-table-column>
                <el-table-column label="操作" width="100">
                    <template slot-scope="scope">
                        <el-button>接受</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</div>
</body>
<div th:replace="worker/common/js"></div>
<script type="text/javascript" th:src="@{../../js/worker/chooseTask.js}"></script>
</html>